:root{
    --bg-principal: #FCFCFC;
    --bg-disabled: #DEDEDE;
    --bg-amarillo: #FFE66B;
    --bg-rosa-claro: #FFB4E0;
    --bg-rosa-medio: #F880B2;
    --bg-rosa-oscuro: #FF6AC2;
    --bg-violeta-claro: #EAD8FA;
    --bg-violeta-medio: #E39AFC;
    --bg-violeta-oscuro: #BC7AF9;
    --bg-gris: #585858;
    --bg-gris-oscuro: #474747;

    --bg-rosa-oscuro-hover: #e84ba7;
    --bg-violeta-oscuro-hover: #924ad5;
    --bg-gris-hover: #272727;

    --text-principal: #272727;
    --text-secundario: rgba(39, 39, 39, 0.5);
    --text-disabled: #6F6F6F;
    --text-blanco: #FCFCFC;
    --text-rosa-claro: #E474BA;
    --text-rosa-oscuro: #8E2764;
    --text-violeta: #AA63EC;
    --text-gris: #535353;
    --text-amarillo: #D58000;
    --text-rojo: #D54A63;

    --telegram: #0088cc;
    --whatsapp: #25D366;
    --facebook: #3b5998;
    --tiktok-up: #00F7EF;
    --tiktok-down: #FD014F;
    --instagram: #DD2A7B;

    --sombra-primaria: rgba(39, 39, 39, 0.2);
    --sombra-secundaria: #2f06553d;
}